<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <div id="box">
      <h1>Login Form</h1>
      <label> Username: </label> <br />
      <input id="username" placeholder="Enter your username" type="text" />
      <br />
      <span id="username_error" class="error"></span>

      <br />

      <label>Password:</label> <br />
      <input id="password" type="password" placeholder="Enter your password" />
      <span id="password_error" class="error"></span>
      <br />

      <a href="/signup">dont have an account? sign up</a>
      <input id="login" type="submit" value="Login" onclick="handleLogin()" />
    </div>
    <script src="script.js"></script>
  </body>
</html>
