<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Signup</title>
    <style>
      #box {
        height: 540px;
      }
    </style>
  </head>
  <body>
    <div id="box">
      <h1>Signup Form</h1>
      <label> Username: </label> <br />
      <input id="username" placeholder="Enter your username" type="text" />
      <br />
      <span id="username_error" class="error"></span>

      <label>Password:</label> <br />
      <input id="password" type="password" placeholder="Enter your password" />
      <label>Confirm Password:</label> <br />
      <input
        id="confirmPassword"
        type="password"
        placeholder="Confirm your password"
      />
      <span id="password_error" class="error"></span>
      <br />
      <a id="signIn" href="/">already have an account? sign in</a>
      <input
        id="SignUp"
        type="submit"
        value="Sign Up"
        onclick="handleSignUp()"
      />
    </div>
    <script src="script.js"></script>
  </body>
</html>
