#box {
  background-color: rgb(244, 241, 241);
  height: 450px;
  width: 660px;
  margin-left: 475px;
  margin-top: 100px;
}

h1 {
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  padding-top: 25px;
}

#Username1 {
  font-family: sans-serif;
  margin-left: 30px;
  display: inline-block;
  margin-top: 25px;
  font-weight: 550;
  font-size: 20px;
}

#username {
  margin-top: 5px;
  height: 43px;
  width: 595px;
  margin-left: 30px;
  border-radius: 8px;
  border: 2px solid rgb(235, 232, 232);
}

#Password1 {
  margin-top: 20px;
  font-family: sans-serif;
  margin-left: 30px;
  display: inline-block;
  font-weight: 550;
  font-size: 20px;
}

#password {
  margin-top: 5px;
  height: 43px;
  width: 595px;
  margin-left: 30px;
  border-radius: 8px;
  border: 2px solid rgb(235, 232, 232);
}

#remember {
  margin-top: 15px;
  margin-left: 30px;
  font-weight: 600;
}

#login {
  margin-top: 20px;
  margin-left: 30px;
  height: 43px;
  width: 595px;
  border-radius: 4px;
  color: white;
  background-color: #1e7cff;
  border: 2px solid rgb(235, 232, 232);
}

.error {
  color: red;
  margin-left: 30px;
  display: none;
}

#signUp {
  position: relative;
  text-decoration: none;
  margin-left: 30px;
  top: 10px;
  color: #1e7cff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
